body {
    /*font-size: 12px;*/
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    background-color: lightblue;
}

h1 {
    font-size: 16px;
    text-align: center;
    color: green;
}
p {
    line-height: 1.5;
}

img {
    max-height: 400px;
}

.colored {
    background-color: lightblue;
    color: darkblue;
}