body {
    /*font-size: 12px;*/
    font-family: 'Nunito Sans', 'Helvetica', 'Arial', sans-serif;
    background-color: lightyellow;
}

h1, h2, h3 {
    font-weight: 4.5em;
    text-align: center;
    color: darkgreen;
}

header p {
    text-align: center;
}

p {
    font-family: "Helvetica Nue", sans-serif;
}

img {
    max-height: 400px;
}

li {
    padding: .5em;
}