* {
    box-sizing: border-box;
  }

  body {
    display: flex;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    margin: 0;
    flex-direction: column;
    height: inherit;
  }

  main {
    flex: 1;
  }

  html {
    height: 100%;
  }

  div {
    display: flex;
  }

  main > div {
    height: 100%;
  }

  .filters {
    display: none;
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: darkgray;
    border-right: solid;
  }

  .events {
    flex: 1rem;
    flex-grow: 1rem;
    background-color: darkgray;
  }

  .friends {
    display: none;
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: darkgray;
    border-left: solid;
  }

  .spacer {
    flex: 1;
    flex-grow: 1;
    background-color: darkgray;
  }

  .box {
    padding: 1em;
  }

  .events > div {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

  .event-card > p {
    padding: 1rem 0rem 0rem;
  }

  .event-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 10px;
    background-color: white;
    margin: .5rem;
    padding: .8rem .8rem;
    box-shadow: 01px3pxrgba(0,0,0,0.16),01px3pxrgba(0,0,0,0.23);
  }

  .friend-card {
    display: flex;
    border-radius: 35px;
    flex: 0 0 200px;
    background-color: white;
    margin: .5rem;
    padding: .5rem .5rem;
    box-shadow: 01px3pxrgba(0,0,0,0.16),01px3pxrgba(0,0,0,0.23);
  }

  .friend-card > p {
    margin: 0.2rem .15rem .15rem 0.5rem;
  }

  .friends > div {
    flex-wrap: wrap;
    justify-content: left;
  }

  img {
    border-radius: 10px;
    width: 400px;
    height: 240px;
    object-fit: cover;
  }

  .friend-card img {
    border-radius: 55px;
    width: 55px;
    height: 55px;
    object-fit: cover;
  }

  #filter-icon {
    position: fixed;
    left: 10px;
    bottom: 10px;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }

  #filter-icon img {
    width: 35px;
    height: 35px;
    object-fit: cover;
  }

  #friend-icon {
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }

  #friend-icon img {
    width: 35px;
    height: 35px;
    object-fit: cover;
  }

  div > .overImg {
    position: absolute;
    margin: 10px;
  }

  .overImg > img {
    width: 380px;
    height: 55px;
  }

/* Login page rules*/
.login-page {
  font-family: "Overpass", sans-serif;
  background-color: #eaedf5dc;
}

.login-page header {
  text-align: center;
  font-size: 38px;
}

.login-page main {
  display: flex;
  justify-content: center;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#ccceec, #8940e9);
  max-height: 80%;
  padding: 0 50px;
  color: white;
}

.login-img {
  background-color: white;
  border-radius: 50%;
  max-width: 80px;
  max-height: 80px;
  width: auto;
  text-align: center;
  padding: 20px;
}

.login-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.login-box h2 {
  font-size: 28px;
}

.login-detail {
  align-self: flex-start;
  padding: 10px;
  padding-bottom: 0;
  border-bottom: 1px solid white;
}

.login-detail label {
  padding-top: 10px;
  margin-right: 10px;
}

.login-detail input {
  border: none;
  background-color: inherit;
  font-family: inherit;
  outline: none;
}

.login-detail input::placeholder, .login-detail input:focus {
  color: white;
}

.login-btn {
  margin: 0 auto;
  margin-top: 35px;
  display:block;
  padding: 5px 15px;
  font-family: inherit;
  border-radius: 15px;
  font-size: 18px;
  border: none;
  background-color: white;
}

.login-btn:hover, .login-btn:focus {
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em -0.4em rgba(0, 0, 0, 0.6);
  transform: translateY(-0.25em);
}


@media (min-width: 598px) {
}

@media (min-width: 768px) {
  .friends {
    display: block;
  }

  #friend-icon {
    display: none;
  }
}

@media (min-width: 992px) {
  .filters {
    display: block;
  }

  #filter-icon {
    display: none;
  }

  img {
    width: 500px;
    height: 300px;
    object-fit: cover;
  }
}

@media (min-width: 1200px) {
  img {
    width: 600px;
    height: 360px;
    object-fit: cover;
  }
}
