/* Coolors Exported Palette - https://coolors.co/bfd7ea-91aec1-508ca4-0a8754-004f2d */

/* CSS HEX */
--beau-blue: #bfd7eaff;
--pewter-blue: #91aec1ff;
--blue-munsell: #508ca4ff;
--sea-green: #0a8754ff;
--forest-green-traditional: #004f2dff;

/* CSS HSL */
--beau-blue: hsla(207, 51%, 83%, 1);
--pewter-blue: hsla(204, 28%, 66%, 1);
--blue-munsell: hsla(197, 34%, 48%, 1);
--sea-green: hsla(156, 86%, 28%, 1);
--forest-green-traditional: hsla(154, 100%, 15%, 1);

/* SCSS HEX */
$beau-blue: #bfd7eaff;
$pewter-blue: #91aec1ff;
$blue-munsell: #508ca4ff;
$sea-green: #0a8754ff;
$forest-green-traditional: #004f2dff;

/* SCSS HSL */
$beau-blue: hsla(207, 51%, 83%, 1);
$pewter-blue: hsla(204, 28%, 66%, 1);
$blue-munsell: hsla(197, 34%, 48%, 1);
$sea-green: hsla(156, 86%, 28%, 1);
$forest-green-traditional: hsla(154, 100%, 15%, 1);

/* SCSS RGB */
$beau-blue: rgba(191, 215, 234, 1);
$pewter-blue: rgba(145, 174, 193, 1);
$blue-munsell: rgba(80, 140, 164, 1);
$sea-green: rgba(10, 135, 84, 1);
$forest-green-traditional: rgba(0, 79, 45, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #bfd7eaff, #91aec1ff, #508ca4ff, #0a8754ff, #004f2dff);
$gradient-right: linear-gradient(90deg, #bfd7eaff, #91aec1ff, #508ca4ff, #0a8754ff, #004f2dff);
$gradient-bottom: linear-gradient(180deg, #bfd7eaff, #91aec1ff, #508ca4ff, #0a8754ff, #004f2dff);
$gradient-left: linear-gradient(270deg, #bfd7eaff, #91aec1ff, #508ca4ff, #0a8754ff, #004f2dff);
$gradient-top-right: linear-gradient(45deg, #bfd7eaff, #91aec1ff, #508ca4ff, #0a8754ff, #004f2dff);
$gradient-bottom-right: linear-gradient(135deg, #bfd7eaff, #91aec1ff, #508ca4ff, #0a8754ff, #004f2dff);
$gradient-top-left: linear-gradient(225deg, #bfd7eaff, #91aec1ff, #508ca4ff, #0a8754ff, #004f2dff);
$gradient-bottom-left: linear-gradient(315deg, #bfd7eaff, #91aec1ff, #508ca4ff, #0a8754ff, #004f2dff);
$gradient-radial: radial-gradient(#bfd7eaff, #91aec1ff, #508ca4ff, #0a8754ff, #004f2dff);