* {
  box-sizing: border-box;
}

html, .eventForm {
  height: 100%;
}

/* General rules */
div, .general, .event-card, .btn_group > .btn, .friend-card, .navigation, .detail-box, .eventForm {
  display: flex;
}

.general, .events > div, .event-card, .filter-border, .detail-box, .friends > div, #modal, .eventForm, .formContainer {
  flex-direction: column;
}

.spacer, .event-card {
  flex: 1;
}

.friends, .search-box, .navigation-links, .filter-web-view, .friend-web-view {
  display: none;
}

.events > div, .btn, .detail-box, .formContainer, .create-event-container {
  justify-content: center;
}

.event-card, .friend-card, div > .overImg, div > .underImg, .navigation, footer, .share-btn {
  background-color: black;
}

.friend-card > div > p, .overImg > h2, .underImg > h2, .hamburger-menu, footer, .warning, .share-btn, .share-btn:hover {
  color: white;
}

.filter-border, .detail-box {
  padding: 30px;
}

.navigation, .detail-box, .friends > div, .formContainer, .create-event-container {
  align-items: center;
}

.filter-border, .detail-box {
  border: 1px solid black;
}

.nav-brand-name {
  font-size: 28px;
}

footer, .warning, .warningSmall, .dropdown-nav, .about-page, .formContainer label, .formContainer input, .formContainer .imgUpload {
  text-align: center;
}

footer, .general, .navigation, .btn_group > .btn, #modal {
  width: 100%;
}

.warning, .friend-font {
  font-size: 20px;
}

.warningSmall, footer {
  font-size: 15px;
}

.share-event, .dropdown-item {
  font-size: 18px;
}

.share-btn, .friend-card, .nav-brand-name, .create-event-btn {
  align-self: center;
}

.event-card > img, .formContainer .imgUpload {
  width: 400px;
}

.btn-share, .dropdown-item {
  color: black;
}

.nav-brand-name a:link, .dropdown-item, .formContainer {
  text-decoration: none;
}

/* Home page styles */
.general {
  font-family: "Overpass", sans-serif;
  margin: 0;
  height: inherit;
}

.filters, .friends {
  flex-grow: 0;
  flex-shrink: 0;
}

.filters {
  flex-basis: 300px;
}

.filter-font {
  font-size: 22px;
}

.events, .spacer, .btn_group > .btn {
  flex-grow: 1;
}

.events {
  flex: 1rem;
}

.friends {
  flex-basis: 200px;
}

.box {
  padding: 1em;
}

.events > div, .friends > div, .formContainer {
  flex-wrap: wrap;
}

.event-card > p {
  padding: 1rem 0rem 0rem;
}

.event-card, .event-card > img, div > .overImg, div > .underImg {
  border-radius: 10px;
}

.event-card, .friend-card {
  margin: .5rem;
}

.event-card {
  padding: .8rem .8rem;
  max-width: 625px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.share-event {
  text-decoration: underline;
  margin-bottom: 15px;
}

.share-btn {
  display: inline;
  padding: 8px 30px;
  margin: 15px;
  border-radius: 15px;
  border:rgba(0, 0, 0, 0.6);
}

.share-btn:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.checkBox {
  margin: 3.6px 10px 10px 10px;
}

.join-button-active, .join-button-active:focus, .friend-card-clicked {
  background-color: green;
}

.join-button-active:focus {
  color: none;
  box-shadow: none;

}

.btn_group > .btn {
  margin: .7rem 0rem 0rem;
  table-layout: fixed;
}

.friend-card {
  border-radius: 35px;
  padding: .5rem .5rem;
  cursor: pointer;
  width: 40%;
}

.friend-card:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.friend-card > div > p {
  margin: 0.2rem .15rem .15rem 0.5rem;
}

.friends > div {
  justify-content: left;
}

.event-card > img, .friend-card img, #filter-icon img, #friend-icon, #friend-icon img {
  object-fit: cover;
}

.event-card > img {
  height: 240px;
}

.friend-card img {
  border-radius: 70px;
  width: 70px;
  height: 70px;
}

#filter-icon, #friend-icon {
  position: fixed;
  bottom: 10px;
  border: 0;
  border-radius: 25px;
  z-index: 10;
  width: 50px;
  height: 50px;
  left: 10px;
  background-color: #17a2b8;
  box-shadow: 0 10px 20px rgba(0,0,0,0.30);
}

#filter-icon img, #friend-icon img {
  width: 35px;
  height: 35px;
}

#friend-icon {
  bottom: 65px;
}

div > .overImg, div > .underImg {
  position: absolute;
  padding: 10px 10px 0px 10px;
  opacity: .8;
}

.btn-share {
  background-color: white;
}

div > .overImg {
  margin: 10px;
}

div > .underImg {
  margin: 75px 0px 0px 10px;
}

.filter-border {
  margin: 20px;
}

/* Navbar styles */
.navigation {
  justify-content: flex-end;
}

.hidden {
  display: none !important;
}

.nav-brand-name {
  font-family: "Reggae One", sans-serif;
  margin-right: auto;
  padding-top: 15px;
  padding-left: 20px;
}

.nav-brand-name a:hover {
  text-shadow: 2px 2px 8px #6f7777;
}

.nav-link:hover {
  background-color: #4382CD;
}

.hamburger-menu {
  margin-right: 20px;
  font-size: 36px;
}

/* About Us page styles */
.about-page {
  display: block;
}

.detail-box {
  margin: 20px 30px;
  text-align: left;
  box-sizing: inherit;
}

.details {
  font-family: 'Times New Roman', Times, serif;
  font-size: 14pt;
}

.aboutus {
  max-width:100%;
  height: auto;
}

/* Footer styles */
footer {
  padding: 20px;
  font-family: inherit;
  align-self: flex-end;
}

/* Event Form styles */
.eventForm {
  padding-left: 50px;
  padding-top: 50px;
}

.warning {
  margin-bottom: 5px;
  background-color: rgb(241, 87, 87);
}

.warningSmall {
  color: rgb(241, 87, 87);
}

.formContainer label, .formContainer input {
  width:180px;
}

.formContainer label, .formContainer input, .formContainer .imgUpload {
  display: inline-block;
}

.formContainer div {
  padding: 10px;
}

/* Media queries */

@media (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }

  .navigation-links {
    display: flex;
  }
}

@media (min-width: 992px) {
  .friend-web-view {
    display: block;
  }

  #friend-icon {
    display: none;
  }

  .friend-card {
    flex: 0 0 180px;
    width: 100%;
  }

  .friends > div {
    flex-direction: row;
  }

  .friend-card img {
    width: 55px;
    height: 55px;
  }

  .friend-font {
    font-size: 16px;
  }

  .event-card > img {
    width: 500px;
    height: 300px;
  }

  .search-box {
    display: flex;
    flex-basis: 500px;
  }
}

@media (min-width: 1200px) {
  .event-card > img {
    width: 600px;
    height: 360px;
  }

  .filter-font {
    font-size: 16px;
  }

  .filter-web-view {
    display: block;
  }

  #filter-icon {
    display: none;
  }
}

