* {
  box-sizing: border-box;
}

html, .login-img > img {
  height: 100%;
}

/* General rules */
div, .general, .event-card, .btn_group > .btn, .friend-card, .navigation, .detail-box, .login-page main, .login-box {
  display: flex;
}

.general, .events > div, .event-card, .filter-border, .detail-box, .login-box {
  flex-direction: column;
}

.spacer, .event-card, .login-page main {
  flex: 1;
}

/* .filters,*/ .friends, .search-box, .navigation-links {
  display: none;
}

.events > div, .btn, .detail-box, .login-page main, .login-box {
  justify-content: center;
}

.event-card, .friend-card, div > .overImg, div > .underImg, .navigation, footer {
  background-color: black;
}

.login-detail input::placeholder, .login-detail input:focus, .friend-card > div > p, .overImg > h2, .underImg > h2, .hamburger-menu, footer, .login-box {
  color: white;
}

.filter-border, .detail-box {
  padding: 30px;
}

.navigation, .detail-box, .login-box {
  align-items: center;
}

.filter-border, .detail-box {
  border: 1px solid black;
}

.nav-brand-name, .login-box h2 {
  font-size: 28px;
}

footer, .login-page header, .login-img {
  text-align: center;
}

footer, .login-img > img, .general, .navigation {
  width: 100%;
}

footer, .login-img {
  padding: 20px;
}

.login-detail input, footer, .login-btn {
  font-family: inherit;
}

/* Home page styles */
.general {
  font-family: "Overpass", sans-serif;
  margin: 0;
  height: inherit;
}

.filters, .friends {
  flex-grow: 0;
  flex-shrink: 0;
}

.filters {
  flex-basis: 300px;
}

.filter-font {
  font-size: 22px;
}

.events, .spacer, .btn_group > .btn {
  flex-grow: 1;
}

.events {
  flex: 1rem;
}

.friends {
  flex-basis: 200px;
}

.box {
  padding: 1em;
}

.warning {
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
  color: white;
  background-color: rgb(241, 87, 87);
}

.warningSmall {
  text-align: center;
  font-size: 15px;
  color: rgb(241, 87, 87);
}

.events > div, .friends > div {
  flex-wrap: wrap;
}

.event-card > p {
  padding: 1rem 0rem 0rem;
}

.event-card, .event-card > img, div > .overImg, div > .underImg {
  border-radius: 10px;
}

.event-card, .friend-card {
  margin: .5rem;
}

.event-card {
  padding: .8rem .8rem;
  max-width: 625px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.share-event {
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 15px;
}

.share-btn {
  display: inline;
  align-self: center;
  background-color: black;
  color: white;
  padding: 8px 30px;
  margin: 15px;
  border-radius: 15px;
  border:rgba(0, 0, 0, 0.6);
}

.share-btn:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  color: white;
}

.checkBox {
  margin: 3.6px 10px 10px 10px;
}

.join-button-active {
  background-color: green;
}

.join-button-active:focus {
  color: none;
  background-color: green;
  box-shadow: none;

}

.btn_group > .btn {
  margin: .7rem 0rem 0rem;
  width: 100%;
  table-layout: fixed;
}

.friend-card {
  border-radius: 35px;
  align-self: center;
  padding: .5rem .5rem;
  cursor: pointer;
  width: 40%;
}

.friend-card-clicked {
  background-color: green;
}

.friend-card:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.friend-card > div > p {
  margin: 0.2rem .15rem .15rem 0.5rem;
}

.friends > div {
  justify-content: left;
  align-items: center;
  flex-direction: column;
}

.event-card > img, .friend-card img, #filter-icon img, #friend-icon, #friend-icon img {
  object-fit: cover;
}

.event-card > img {
  width: 400px;
  height: 240px;
}

.friend-card img {
  border-radius: 70px;
  width: 70px;
  height: 70px;
}

.friend-font {
  font-size: 20px;
}

.filter-web-view, .friend-web-view {
  display: none;
}


#filter-icon, #friend-icon {
  position: fixed;
  bottom: 10px;
  border: 0;
  border-radius: 25px;
  z-index: 10;
  width: 50px;
  height: 50px;
  left: 10px;
  background-color: #17a2b8;
  box-shadow: 0 10px 20px rgba(0,0,0,0.30);
}


#filter-icon img, #friend-icon img {
  width: 35px;
  height: 35px;
}

#friend-icon {
  bottom: 65px;
}

#modal {
  flex-direction: column;
  width: 100%;
}

div > .overImg, div > .underImg {
  position: absolute;
  padding: 10px 10px 0px 10px;
  opacity: .8;
}

.btn-share {
  color: black;
  background-color: white;
}

div > .overImg {
  margin: 10px;
}

div > .underImg {
  margin: 75px 0px 0px 10px;
}

.filter-border {
  margin: 20px;
}

/* Navbar styles */
.navigation {
  justify-content: flex-end;
}

.hidden {
  display: none !important;
}

.nav-brand-name {
  font-family: "Reggae One", sans-serif;
  margin-right: auto;
  align-self: center;
  padding-top: 15px;
  padding-left: 20px;
}

.nav-brand-name a:link {
  text-decoration: none;
}

.nav-brand-name a:hover {
  text-shadow: 2px 2px 8px #6f7777;
}

.nav-link:hover {
  background-color: #4382CD;
}

.hamburger-menu {
  margin-right: 20px;
  font-size: 36px;
}

.dropdown-nav {
  text-align: center;

}

.dropdown-item {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

/* About Us page styles */
.about-page {
  display: block;
  text-align: center;
}

.detail-box {
  margin: 20px 30px;
  text-align: left;
  box-sizing: inherit;
}

.details {
  font-family: 'Times New Roman', Times, serif;
  font-size: 14pt;
}

.aboutus {
  max-width:100%;
  height: auto;
}

/* Footer styles */
footer {
  font-size: 15px;
  align-self: flex-end;
}

/* Login page styles */
.login-page {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 30px;
}

.login-body {
  height: 500px;
  align-self: center;
  flex-direction: column;
  background: linear-gradient(white, rgb(61, 60, 60));
}

.login-body header {
  font-size: 38px;
}

.login-box {
  height: 100%;
  padding: 0 50px;
}

.login-img {
  border-radius: 50%;
  max-width: 80px;
  max-height: 80px;
  width: auto;
  margin-bottom: 20px;
}

.login-img, .login-btn {
  background-color: white;
}

.login-img > img {
  object-fit: contain;
}

.login-detail {
  align-self: flex-start;
  padding: 10px;
  padding-bottom: 0;
  border-bottom: 1px solid white;
}

.login-detail label {
  padding-top: 10px;
  margin-right: 10px;
}

.login-detail input {
  background-color: inherit;
  outline: none;
}

.login-detail input, .login-btn {
  border: none;
}

.login-btn {
  margin: 0 auto;
  margin-top: 35px;
  display: block;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 18px;
}

.login-btn:hover, .login-btn:focus {
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em -0.4em rgba(0, 0, 0, 0.6);
  transform: translateY(-0.25em);
}

/* Event Form styles */
.eventForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 50px;
}

.formContainer {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-decoration: none;
}

.formContainer label, .formContainer input {
  display: inline-block;
  width:180px;
  text-align: center;
}

.formContainer .imgUpload {
  display: inline-block;
  width:400px;
  text-align: center;
}

.formContainer div {
  padding: 10px;
}

.create-event-container {
  justify-content: center;
  align-items: center;
}

.create-event-btn {
  align-self: center;
}

/* Media queries */

@media (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }

  .navigation-links {
    display: flex;
  }
}

@media (min-width: 992px) {
  .friend-web-view {
    display: block;
  }

  #friend-icon {
    display: none;
  }

  .friend-card {
    flex: 0 0 180px;
    width: 100%;
  }

  .friends > div {
    flex-direction: row;
  }

  .friend-card img {
    width: 55px;
    height: 55px;
  }

  .friend-font {
    font-size: 16px;
  }

  .event-card > img {
    width: 500px;
    height: 300px;
  }

  .search-box {
    display: flex;
    flex-basis: 500px;
  }
}

@media (min-width: 1200px) {
  .event-card > img {
    width: 600px;
    height: 360px;
  }

  .filter-font {
    font-size: 16px;
  }

  .filter-web-view {
    display: block;
  }

  #filter-icon {
    display: none;
  }
}

